$completedColor: gray;
$inCompleteColor: black;

body {
  margin:0px;
  padding:0px;
  background-color: #ccd1d1;

  h1{
    text-align: center;
  }

  #taskForm{
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid gray;
  }

  #taskList{
    font-size: 20px;

    .task{
      display: flex;
      justify-content: space-between;
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid gray;
      width: auto;

      .completedLabel{
        color: $completedColor;
      }

      .incompleteLabel{
        color: $inCompleteColor;
      }

      button{
        margin-left: 5px;
      }

    }
  }
}
